:root{
  --primary-background:#ffffff;
  --seconday-background:#ccccb3;
  --primary-box-shadow:0 1px 2px 0 rgba(0,0,0,.1);
  --primary-text-color:#0f1111;
  --text-size-l:1.5rem;
  --text-size-m:1rem;
  --text-size-s:0.5rem;
  --text-size-xl:2rem;
  --text-size-2xl:2.5rem;
  --secondary-text-color:#6b6d6d;
  --spacing-3xl:18px;
  --spacing-2xl:16px;
  --spacing-xl:14px;
  --spacing-l:14px;
  --spacing-m:12px;
  --spacing-s:10px;
  --spacing-xs:8px;
  --spacing-2xs:6px;
}
